<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<gazebo>
    <plugin
          filename="gz-sim-diff-drive-system"
          name="gz::sim::systems::DiffDrive">
          <!-- wheels -->
          <left_joint>left_wheel_joint</left_joint>
          <right_joint>right_wheel_joint</right_joint>

          <!-- kinematics -->
          <wheel_separation>0.154</wheel_separation>
          <wheel_radius>0.025</wheel_radius> <!-- computed from <wheel_diameter> in the original plugin-->
          <topic>cmd_vel</topic> <!-- from <commant_topic> -->
          <odom_publish_frequency>1</odom_publish_frequency> 

          <odom_topic>odometry</odom_topic> 
          <frame_id>odom</frame_id> 
          <child_frame_id>base_link</child_frame_id> 
          

          <tf_topic>tf</tf_topic> Short topic name for tf output -->

      </plugin>

      <plugin
        filename="gz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
        <odom_frame>odom</odom_frame>
        <robot_base_frame>base_link</robot_base_frame>
      </plugin>

      <plugin
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
      </plugin>

      <plugin
        filename="gz-sim-pose-publisher-system"
        name="gz::sim::systems::PosePublisher">
        <publish_link_pose>true</publish_link_pose>
        <use_pose_vector_msg>true</use_pose_vector_msg>
        <static_publisher>true</static_publisher>
        <static_update_frequency>1</static_update_frequency>
      </plugin>
  </gazebo>
</robot>
